<%= link_to '<i class="fa fa-arrow-circle-left"></i> BACK'.html_safe, :back, class: "back-btn" %>
<section class="content-header">

  <ol class="breadcrumb custom-breadcrumbs">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
  <div class="box">
    <div class="box-header">
      <h2 class="box-title"><%= @page_title %></h2>
    </div>
    <div class="box-body">
      <%= form_for @model_data, :url => send("admin_#{controller_name}_path"), method: :post, :html => {:id => 'add-new-university'} do |f| %>
        <%= hidden_field(:user, :user_type_id, :value => PLAYER_ID) %>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.label :first_name, for: "first_name" do %>
              First Name<span class="required">*</span>
            <% end %>
            <%= f.text_field :first_name, class: "form-control", minlength: 2, maxlength: 50 %>
            <% msg = show_errors(@model_data, :first_name) %>
            <label class='error <%= msg.present? ? 'show_class' : 'hide_class' %>'><%= msg %></label>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.label :last_name, for: "last_name" do %>
              Last Name<span class="required">*</span>
            <% end %>
            <%= f.text_field :last_name, class: "form-control", minlength: 2, maxlength: 50 %>
            <% msg = show_errors(@model_data, :last_name) %>
            <label class='error <%= msg.present? ? 'show_class' : 'hide_class' %>'><%= msg %></label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.label :email, for: "Email" do %>
              Email<span class="required">*</span>
            <% end %>
            <%= f.email_field :email, class: "form-control", maxlength: 50 %>
            <% msg = show_errors(@model_data, :email) %>
            <label class='error <%= msg.present? ? 'show_class' : 'hide_class' %>'><%= msg %></label>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.label :phone, for: "phone" do %>
              Phone<span class="required">*</span>
            <% end %>
            <%= f.telephone_field :phone, class: "form-control", maxlength: 10 %>
            <% msg = show_errors(@model_data, :phone) %>
            <label class='error <%= msg.present? ? 'show_class' : 'hide_class' %>'><%= msg %></label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.label :password, for: "password" do %>
              Password<span class="required">*</span>
            <% end %>
            <%= f.password_field :password, class: "form-control", minlength: 6, maxlength: 125 %>
            <% msg = show_errors(@model_data, :password) %>
            <label class='error <%= msg.present? ? 'show_class' : 'hide_class' %>'><%= msg %></label>
          </div>
          <div class="col-sm-6 form-group">
            <div>
              <%= f.label :university_id, for: "university_id" do %>
                Organization<span class="required">*</span>
              <% end %>
              <%= f.select :university_id, options_for_select(@universities, ""),  {:include_blank => "Please Select"}, class: "form-control select_university_common" %>
              <% msg = show_errors(@model_data, :university_id) %>
              <label id="user_university_id-error" class="error <%= msg.present? ? 'show_class' : 'hide_class' %>" for="user_university_id"><%= show_errors(@model_data, :university_id) %></label>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>Status<span class="required">*</span></label>
            <div class="custom-select">
              <% options = [['Active', true], ['Inactive', false]] %>
              <%= f.select :status, options, {:include_blank => "Please Select"}, {:class => "form-control "} %>
              <% msg = show_errors(@model_data, :status) %>
              <label class='error <%= msg.present? ? 'show_class' : 'hide_class' %>'><%= msg %></label>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.fields_for :university_team_users, @model_data.university_team_users.build do |university_team| %>
              <div>
                <%= university_team.label :university_team_id, for: "university_team_id" do %>
                  Team<span class="required">*</span>
                <% end %>
                <%= university_team.select :university_team_id, options_for_select([], []),  {:include_blank => "Please Select"}, :multiple => true, class: "form-control select_university_team_common select2_field", :name => "user[university_team_users_attributes][][university_team_id]" %>
                <% msg = show_errors(@model_data, :university_team_id) %>
                <label id="user_university_team_users_attributes_0_university_team_id-error" class="error <%= msg.present? ? 'show_class' : 'hide_class' %>" for="user_university_team_users_attributes_0_university_team_id"><%= show_errors(@model_data, :university_id) %></label>
                </div>
              </div>
            <% end %>

          </div>
        </div>
        <div class="form-group">
          <%= f.submit "Add #{controller_name.classify.titlecase}", class: "btn bg-olive" %>
          <%= link_to 'Cancel', :back, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</section>