<thead>
	<tr class="pretty">                 
	  <th><%= check_box_tag 'main_checkbox', '', false, class: 'parent-checkbox' %></th>
	  <th><%= sortable "name","Name", params[:search].present? ? params[:search] : nil %></th>             
	  <th><%= sortable "content","Content", params[:search].present? ? params[:search] : nil %></th>
	  <th><%= sortable "meta_title","Meta Title", params[:search].present? ? params[:search] : nil %></th>
	  <th><%= sortable "seo_url","Seo Url", params[:search].present? ? params[:search] : nil %></th>
	  <th><%= sortable "meta_desc","Meta Description", params[:search].present? ? params[:search] : nil %></th>
	  <th><%= sortable "meta_keyword","Meta Keyword", params[:search].present? ? params[:search] : nil %></th>
	  <th><%= sortable "status","Status", params[:search].present? ? params[:search] : nil %></th>
	  <th class="text-center">Actions</th>
	</tr>
</thead>
<tbody class="main_listing">
<% if @model_data.present?  %>
    <% @model_data.each do |cms_page| %>
      <tr>    
        <td class="first-column"><%= check_box_tag 'ids[]', cms_page.id, false, :class => 'child-checkbox' %></td>     
        <td><%=cms_page.name.present? ? cms_page.name : "N-A" %></td>
        <td><%= cms_page.content.present? ? truncate(cms_page.content,:length => 30) : "N-A" %></a></td>
        <td><%= cms_page.meta_title.present? ? cms_page.meta_title : "N-A" %></a></td>
        <td><%= cms_page.seo_url.present? ? cms_page.seo_url : "N-A" %></a></td>
        <td><%= cms_page.meta_desc.present? ? cms_page.meta_desc : "N-A" %></a></td>
        <td><%= cms_page.meta_keyword.present? ? cms_page.meta_keyword : "N-A" %></a></td>
        <td><%= cms_page.status == true ? "<i class='fa fa-check' title='Active'></i>".html_safe : "<i class='fa fa-ban' title='Inactive'></i>".html_safe %></a></td>
        <td class="text-center">
            <%= link_to '', edit_admin_cms_page_path(cms_page.id), title: "Edit", class:"fa fa-edit" %>
        </td>
      </tr>
  <%end%>
<% else %>
     <tr>             
        <td colspan = 9><center>No records found</center></td>
        </td>
    </tr>
<% end %>
 </tbody>
