<section class="content-header">
	<div class="box">
		<div class="box-header">
		  <h1 class="main-head">Static Dashboard</h1> 
		<div class="visit-link-btn">
		<%= link_to '<i class="fa fa-home"></i>'.html_safe+" Main Website", root_path, class: "btn bg-olive", :title=>"Visit Main Website" %>
	</div> 

	</div>
		<div class="box-body">
			<div class="row">
				<div class="col-lg-3 col-xs-6">
				  <!-- small box -->
				  <div class="small-box bg-aqua">
					<div class="inner">
					  <h3 class="number_count"><%= 12 %></h3>
					  <p>Tile 1</p>
					</div>
					<div class="icon">
					  <i class="fa fa-user-secret"></i>
					</div>
					<a href="<%=  %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				  </div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
				  <!-- small box -->
				  <div class="small-box bg-green">
					<div class="inner">
					  <h3 class="number_count"><%= 50 %></h3>
					  <p>Tile 2</p>
					</div>
					<div class="icon">
					  <i class="fa fa-users"></i>
					</div>
					<a href="<%=  %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				  </div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
				  <!-- small box -->
				  <div class="small-box bg-yellow">
					<div class="inner">
					  <h3 class="number_count"><%= 30 %></h3>
					  <p>Tile 3</p>
					</div>
					<div class="icon">
					  <i class="fa fa-object-group"></i>
					</div>
					<a href="<%=  %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				  </div>
				</div>
				<div class="col-lg-3 col-xs-6">
				  <!-- small box -->
				  <div class="small-box bg-red">
				    <div class="inner">
				      <h3 class="number_count"><%= 100 %></h3>
				      <p>Tile 4</p>
				    </div>
				    <div class="icon">
				      <i class="fa fa-university"></i>
				    </div>
				    <a href="<%=  %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				  </div>
				</div>
				

			</div><!-- box-body -->
		</div>
		<!-- /.row -->
	</div>
</section>
