 <%= link_to '<i class="fa fa-arrow-circle-left"></i> BACK'.html_safe, :back, class: "back-btn" %>
<section class="content-header">  
<ol class="breadcrumb">
 <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
  <div class="box">
	  <div class="box-header">
		<h2 class="box-title">Change Password</h2>
	  </div>
	  <div class="box-body">
<%= form_for current_admin, :url=>admin_change_password_path, :html => {:id => 'change_password'} do |f| %>
<div class="row">	 
	<div class="col-sm-6 form-group">
	    <%= label_tag :old_password do %> Old Password <% end %>
	    <%= f.password_field :old_password, class: "form-control" %>
	</div>


	<div class="col-sm-6 form-group">
		 <%= f.label :password,for:"password" do %>
		 New Password
		 <% end %>
		 <%= f.password_field :password, class: "form-control" %>
	 </div>
</div>
<div class="row">
	 <div class="col-sm-6 form-group">
		 <%= f.label :password_confirmation,for:"password_confirmation" do %>
		 Confirm new password
		 <% end %>
		 <%= f.password_field :password_confirmation, class: "form-control" %>
	 </div>
			
 </div>
 <%= f.submit "Change Password", class: "btn bg-olive" %>
 <%= link_to 'Cancel', :back, class: "btn btn-primary" %>
 <% end %>
</div>
</div>
</section>
