<thead>
	<tr class="pretty">                 
	  <th><%= check_box_tag 'main_checkbox', '', false, class: 'parent-checkbox' %></th>
	  <th><%= sortable "first_name","First Name", params[:search].present? ? params[:search] : nil %></th>
	  <th><%= sortable "last_name","Last Name", params[:search].present? ? params[:search] : nil %></th>
    <th><%= sortable "email","Email", params[:search].present? ? params[:search] : nil %></th>
    <th><%= sortable "phone","Phone", params[:search].present? ? params[:search] : nil %></th>
    <th><%= sortable "universities.name","Organization", params[:search].present? ? params[:search] : nil %></th>
	  <th><%= sortable "status","Status", params[:search].present? ? params[:search] : nil %></th>
	  <th class="text-center">Actions</th>
	</tr>
</thead>
<tbody class="main_listing">
<% if @model_data.present?  %>
    <% @model_data.each do |coach| %>
      <tr>
        <td class="first-column"><%= check_box_tag 'ids[]', coach.id, false, :class => 'child-checkbox' %></td>
        <td><%=coach.first_name.present? ? coach.first_name : "N-A" %></td>
        <td><%= coach.last_name.present? ? coach.last_name : "N-A" %></a></td>
        <td><%= coach.email.present? ? coach.email : "N-A" %></a></td>
        <td><%= coach.phone.present? ? coach.phone : "N-A" %></a></td>
        <% university_name=coach.university %>
        <td><%= university_name.present? && university_name.name.present? && university_name.status==true ? university_name.name : "N-A" %></a></td>
        <td><%= coach.status == true ? "<i class='fa fa-check' title='Active'></i>".html_safe : "<i class='fa fa-ban' title='Inactive'></i>".html_safe %></a></td>
        <td class="text-center">
            <%= link_to '', edit_admin_coach_path(coach.id), title: "Edit", class:"fa fa-edit" %>
        </td>
      </tr>
  <%end%>
<% else %>
     <tr>             
        <td colspan = 8><center>No records found</center></td>
        </td>
    </tr>
<% end %>
 </tbody>
