<section class="content-header">

  <ol class="breadcrumb custom-breadcrumbs">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
        <h2 class="box-title"><%= @page_title.titlecase.pluralize %></h2>
   
          <div class="pull-right">
             <%= link_to "Add #{controller_name.classify.titlecase}", send("new_admin_#{controller_name.singularize}_path"), class:"btn bg-olive margin add-btn" %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class=" search-box-header">
			 <form class="form-inline" method="get">
              <div class="form-group">
                <input type="search" class="form-control" id="search" placeholder="Search" name="search" value="<%=params[:search]%>">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
		</div>
        <%= form_tag(admin_perform_bulk_action_path, {:id => 'listing_form'}) do %>
          <div class="status-sec">
            <div class="form-inline">
              <div class="form-group">
                <%= select_tag "bulk_action", "<option value='active'>Active</option><option value='inactive'>Inactive</option>".html_safe,prompt: "Select Action", class:"form-control"  %>
              </div>
              <input type="hidden" name="controller_name" value="<%= controller_name %>">
              <%= submit_tag "Submit", "class"=>"bulk_action_submit btn-primary btn", data: { disable_with: false } %>
            </div>
            <span class="bulk_action_error"></span>
          </div>
          <div class="box-body table-responsive">
            <table class="table table-bordered table-hover main_listing">
              <%= render(:partial => 'feeds') %>
            </table>
            <div class="pull-right">
              <%= will_paginate @model_data %>
            </div>
          </div>
        <% end %>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
</section>

