<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rails admin | Log in</title>  
  <link rel="icon" href="/assets/favicon.ico" type="image/ico">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag 'admin_login' %>
  <%= javascript_include_tag 'admin_login', :defer => true %>
	<script>
		var BASE_URL = '<%=  request.base_url %>';
	</script>	
</head>
<body class="hold-transition login-page">
<%= render "layouts/elements/admin/flash" %>
<%= yield %>
</body>
</html>
